[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
fabric = "*"
coverage = "*"

[packages]
django = "==2.2.18"
markdown = "*"
gunicorn = "*"
faker = "*"
django-pure-pagination = "*"
elasticsearch = ">=2,<3"
django-haystack = "*"
pytz = "*"

[requires]
python_version = "3"
