### 3.23号第一面
- 自我介绍[中英文]（因为简历突出了自己英文学习能力）
- 考察代码能力[给1-100编号，每次从中拿走奇数位数字，剩下重新编号，再拿走奇数位，循环多次到最后剩下一个数字，请你返回这个数字的原始编号]
- 项目经历拷问
- 为什么跨专业做通信
- 看了发表的论文
### 3.25二面
- 自我介绍
- 注重项目挖掘
- 还有大学期间的学习方法
- 还问了我的毕业论文，让我介绍一下
- 有什么问题要问
### 3.26三面
- 给3-5分钟自我介绍，并说一下自己的优缺点
- 你为准备面试做了什么工作？你觉得有用吗
- 你为什么快专业做测试?
- 如果加入华为，你的职业规划是怎么样
- 你的本专业是自己选的，还是父母帮你选的
- 你有什么问题问我吗？
- 你有学习过Java嘛，是为了面试特意学的嘛？
- 在本科生研究生七年，有没有遇到比较困难的时刻？
- 你通过什么途径了解华为的，对华为的认识怎么样？
- 你知道为什么那么在乎你的学习成绩是不是很好吗？